page-jobdetail {

    .jobHeader{
        
        margin-top: 5%;
        padding-right: 10%;
        padding-left: 10%;
        //background-color: green;
        font-size: 25px;
        text-transform: uppercase;
        color: rgb(131, 123, 123);
        text-decoration-line: underline;
    }

    .staffList{
        margin-top: 8%; 
    }

    .addMember{
        margin:5%;
        margin-top: 15%
    }

    .memberList{
        background-color: antiquewhite;
    }
}
