page-dashboard {

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
        // background-color: rgb(252, 109, 57);
        //color: white;
    }

//     $app-background: linear-gradient(to bottom, color($colors, light) 0%, color($colors, dark) 100%);
// $background-color: transparent;
// $toolbar-background: transparent;

    .detailCard{
        //background-color: rgb(255, 255, 255);
       //background: $app-background;
       background: linear-gradient(to bottom, rgb(252, 251, 251), white);
    }

    .jobTitle{
        flex-direction:column;
        background-color: rgba(0, 128, 0, 0.797); 
        margin:5%;
        height: 20%;
    }
}
